<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Companion Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Companion Dashboard</h1>
    <h2>Received Requests:</h2>
    <ul id="requests-list">
        {% for request in requests %}
        <li>{{ request.user_name }}, Age: {{ request.user_age }}, Need: {{ request.user_need }}, Price: {{ request.price }}</li>
        {% endfor %}
    </ul>
</body>
</html>
